.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #e0e0e0;
}

.waiting-for-request {
  background-color: #fffbe6; /* light yellow */
  border: 1px solid #ffe58f;
  padding: 10px;
  border-radius: 6px;
  /* font-weight: bold; */
  color: #d48806;
}

.section-title {
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 2em;
  margin-bottom: 0.5em;
  letter-spacing: 0.5px;
}

.tab {
  display: inline-block;
  background: #f5f5f5;
  color: #333;
  font-size: 0.85em;
  font-weight: bold;
  padding: 0.2em 1em;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}

.tab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.copy-button {
  border: 1px solid #292929;
  border-radius: 8px 8px 8px 8px;
}

.copy-button:not(:disabled):hover {
  background: #b1b0b0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.copy-button:not(:disabled):active {
  background: #707070;
  box-shadow: 0 1px 3px rgba(0,0,0,0.18);
  transform: scale(0.97);
}

.copy-button:disabled {
  border: none;
  color: rgb(62, 62, 62);
  cursor: not-allowed;
  box-shadow: none;
}

pre {
  background: #f8f8f8;
  color: #222;
  font-family: 'Fira Mono', 'Consolas', 'Menlo', monospace;
  font-size: 1em;
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
  margin: 0;
}

button#i18n-copy-token {
  background-color: #1976d2; /* A strong blue */
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  padding: 0.7em 1.5em;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(25, 118, 210, 0.15);
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  margin-top: 2em;
}

button#i18n-copy-token:disabled {
  background-color: #b0b0b0;
  color: #eee;
  cursor: not-allowed;
  box-shadow: none;
}

button#i18n-copy-token:hover:enabled {
  background-color: #1565c0;
  box-shadow: 0 4px 12px rgba(25, 118, 210, 0.25);
}

button#i18n-copy-token:active:enabled {
  background: #003d80;
  box-shadow: 0 1px 3px rgba(0,0,0,0.18);
  transform: scale(0.97);
}

.info-label {
  font-weight: bold;
  color: #1976d2;
  margin-right: 0.5em;
}
.info-text {
  font-family: 'Fira Mono', 'Consolas', 'Menlo', monospace;
  background: #f5f5f5;
  padding: 0.1em 0.3em;
  border-radius: 4px;
  color: #1565c0;
  word-break: break-all;
}

.json-key {
  color: #a35125;
}
